vendor/** linguist-vendored linguist-generated

vendor/acdc/LICENSE vendor=acdc
vendor/acdc/acdc-parser/Cargo.toml vendor=acdc
vendor/acdc/acdc-parser/src/blocks/list/item.rs vendor=acdc
vendor/acdc/acdc-parser/src/blocks/list/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/blocks/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/blocks/table.rs vendor=acdc
vendor/acdc/acdc-parser/src/constants.rs vendor=acdc
vendor/acdc/acdc-parser/src/error.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/README.adoc vendor=acdc
vendor/acdc/acdc-parser/src/grammar/attributes.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/author.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/doctype.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/document.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/helpers.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/inline_preprocessor.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/inline_processing.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/inlines.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/line_map.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/location_mapping.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/location_walk.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/manpage.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/marked_text.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/passthrough_processing.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/revision.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/setext.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/source_remap.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/state.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/table.rs vendor=acdc
vendor/acdc/acdc-parser/src/grammar/utf8_utils.rs vendor=acdc
vendor/acdc/acdc-parser/src/lib.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/admonition.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/anchor.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/attributes.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/attribution.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/inlines/macros.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/inlines/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/inlines/text.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/lists.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/location.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/media.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/metadata.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/section.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/substitution.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/tables.rs vendor=acdc
vendor/acdc/acdc-parser/src/model/title.rs vendor=acdc
vendor/acdc/acdc-parser/src/options.rs vendor=acdc
vendor/acdc/acdc-parser/src/parsed.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/attribute.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/comment.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/conditional.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/include.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/preprocessor/tag.rs vendor=acdc
vendor/acdc/acdc-parser/src/proptests/generators.rs vendor=acdc
vendor/acdc/acdc-parser/src/proptests/invariants.rs vendor=acdc
vendor/acdc/acdc-parser/src/proptests/mod.rs vendor=acdc
vendor/acdc/acdc-parser/src/safe_mode.rs vendor=acdc
vendor/acdc/acdc-parser/src/warning.rs vendor=acdc
vendor/acdc/converters/core/Cargo.toml vendor=acdc
vendor/acdc/converters/core/src/backend.rs vendor=acdc
vendor/acdc/converters/core/src/code.rs vendor=acdc
vendor/acdc/converters/core/src/doctype.rs vendor=acdc
vendor/acdc/converters/core/src/icon.rs vendor=acdc
vendor/acdc/converters/core/src/inline_text.rs vendor=acdc
vendor/acdc/converters/core/src/lib.rs vendor=acdc
vendor/acdc/converters/core/src/list.rs vendor=acdc
vendor/acdc/converters/core/src/section.rs vendor=acdc
vendor/acdc/converters/core/src/substitutions.rs vendor=acdc
vendor/acdc/converters/core/src/table.rs vendor=acdc
vendor/acdc/converters/core/src/toc.rs vendor=acdc
vendor/acdc/converters/core/src/video.rs vendor=acdc
vendor/acdc/converters/core/src/visitor.rs vendor=acdc
vendor/acdc/converters/core/src/warning.rs vendor=acdc
vendor/acdc/converters/terminal/Cargo.toml vendor=acdc
vendor/acdc/converters/terminal/src/admonition.rs vendor=acdc
vendor/acdc/converters/terminal/src/appearance/capabilities.rs vendor=acdc
vendor/acdc/converters/terminal/src/appearance/mod.rs vendor=acdc
vendor/acdc/converters/terminal/src/appearance/theme.rs vendor=acdc
vendor/acdc/converters/terminal/src/asciicast.rs vendor=acdc
vendor/acdc/converters/terminal/src/audio.rs vendor=acdc
vendor/acdc/converters/terminal/src/cell_grid.rs vendor=acdc
vendor/acdc/converters/terminal/src/delimited.rs vendor=acdc
vendor/acdc/converters/terminal/src/document.rs vendor=acdc
vendor/acdc/converters/terminal/src/error.rs vendor=acdc
vendor/acdc/converters/terminal/src/image.rs vendor=acdc
vendor/acdc/converters/terminal/src/index.rs vendor=acdc
vendor/acdc/converters/terminal/src/inlines.rs vendor=acdc
vendor/acdc/converters/terminal/src/lib.rs vendor=acdc
vendor/acdc/converters/terminal/src/list.rs vendor=acdc
vendor/acdc/converters/terminal/src/paragraph.rs vendor=acdc
vendor/acdc/converters/terminal/src/replay.rs vendor=acdc
vendor/acdc/converters/terminal/src/section.rs vendor=acdc
vendor/acdc/converters/terminal/src/syntax.rs vendor=acdc
vendor/acdc/converters/terminal/src/table.rs vendor=acdc
vendor/acdc/converters/terminal/src/terminal_visitor.rs vendor=acdc
vendor/acdc/converters/terminal/src/toc.rs vendor=acdc
vendor/acdc/converters/terminal/src/video.rs vendor=acdc
vendor/acdc/converters/terminal/src/wrap.rs vendor=acdc
